@{
    ViewData["Title"] = "CreateUser";
    var ruolo = HttpContextAccessor.HttpContext.Session.GetString("Role");
}

<script type="text/javascript" src="~/js/validate.js"></script>

<div class="container">
    <div class="main">

        <!-- Controlla i ruoli, se non si è ne admin ne user (quindi non si è ancora loggati) ci si puo' registrare -->
        @if (ruolo != null)
        {
            <h1>Sei gi&aacute; registrato!</h1>
        }
        else
        {
         

            <h1>
                <!--Se si mette un email già registrata viene stampato questo messaggio di errore -->
                @TempData["LoginMsg"]

            </h1>

            <!-- Form per la registrazione -->
            <div class="login__pagediv">
                @using (Html.BeginForm("Create", "User", FormMethod.Post, new { @id = "form1" }))
                {
                    <fieldset>
                        Email
                        <br />
                        <input type="text" name="email"  class="casella__user" id="email" required />
                        <br />
                        <br />
                        Password
                        <br />
                        <input type="password" name="password"  class="casella__user" id="password" required />
                        <br />
                        <br />
                        Conferma Password
                        <br />
                        <input type="password" name="pass2" id="pass2"  class="casella__user" required />
                        <br />
                        <br />
                        <br />
                        <input type="submit" class="botton__submit" onclick="return validateUser();" value="Registra" />
                    </fieldset>
                }
            </div>
        }
    </div>

    <footer class="footer">
      
    </footer>
</div>