@{
    ViewData["Title"] = "HomeAdmin";
    var role = HttpContextAccessor.HttpContext.Session.GetString("Role");
}

<div class="container">
    <div class="main">
        <h1>Area Admin</h1>

        <!-- Solo gli admin possono accedere a questa area privata e vedere le pagine per la gestione utenti/prodotti/ordini, gli user hanno solo la pagina con l'elenco dei propri ordini come area privata-->
        @if (role == null)
        {
            <h1>Non sei loggato!</h1>
        }
        else if (role.Equals("user"))
        {
            <h1>Area riservata agli admin!</h1>
        }
        else
        {
            <!-- Link alle pagine per gestire utenti/prodotti/ordini  -->
            <div id="greybar"><br /><br /></div>
            <div class="ph">
                <div id="links">
                    @Html.ActionLink("Gestione Utenti", "List", "User", null, new { @class = "linkprod" })
                    <br /><br /><br />
                    @Html.ActionLink("Gestione Prodotti", "List", "Product", null, new { @class = "linkprod" })
                    <br /><br /><br />
                    @Html.ActionLink("Gestione Ordini", "List", "Order", null, new { @class = "linkprod" })
                </div>
            </div>
        }
    </div>
</div>
