@model IEnumerable<Product>

@{
    ViewBag.Title = "INDEX PAGE";
    var role = HttpContextAccessor.HttpContext.Session.GetString("Role");
}



<div class="container">

    <div class="main">
        <h1>
            <!--Se la registrazione è avvenuta con successo stampa il messaggio-->
            @TempData["LoginMsg"]
        </h1>

        <h1>Preferiti dai clienti questo mese</h1>

        <!-- carosello con top 10 prodotti piu' acquistati dagli utenti nell'ultimo mese -->       

        <div class="carousel-wrapper">
            <span id="item-1"></span>
            <span id="item-2"></span>
            <span id="item-3"></span>
            <span id="item-4"></span>
            <span id="item-5"></span>
            <span id="item-6"></span>
            <span id="item-7"></span>
            <span id="item-8"></span>
            <span id="item-9"></span>
            <span id="item-10"></span>

            @{
                int i = 1;
                int j = 0;
                int k = 2;

            }
            @foreach (var s in Model)
            {
            <div class="carousel-item item-@i">
                @if (s.Image != null)
                {
                    <div align="center"><img align="middle" src="data:image;base64,@System.Convert.ToBase64String(s.Image)"
                         width="200" height="200" /></div>
                }
                else
                {
                    <img src="~/img/noimage.jpg" alt="NO IMAGE" width="200" height="200" />
                }
                <h2 align="center">@Html.ActionLink(s.Title, "ProductDetails", "Product", new { s.ProductId }, new { @class = "linkprod" })</h2>
                @if ((role == null) || ((role != null) && role.Equals("user")))
                {

                    @if (s.Disp.Equals("si"))
                    {
                        @using (Html.BeginForm("Add", "Cart", FormMethod.Post))
                        {
                            <div align="center">
                            <fieldset>
                                <input type="text" name="prodotto" id="prodotto" value="@s.ProductId" hidden />
                                <input type="number" name="quantita" id="quantita" min="1" value="1" />
                                <input type="submit" class="botton__search" value="Aggiungi al carrello" />
                            </fieldset>
                            </div>
                        }
                    }
                    else
                    {
                        <b>Il prodotto non &eacute; disponibile!!!</b>

                    }

                }
                @if (i == 1)
                {
                    <a class="arrow arrow-prev" href="#item-10"></a>
                }
                else
                {
                    <a class="arrow arrow-prev" href="#item-@j"></a>
                }
                @if (i == 10)
                {
                    <a class="arrow arrow-next" href="#item-1"></a>
                }
                else
                {
                    <a class="arrow arrow-next" href="#item-@k"></a>
                }

                @{
                    i++;
                    j++;
                    k++;
                }
                
            </div>
                

            }


        </div>


    </div>
</div>


